.to-do-element-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

.close-button {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  opacity: 0.4;
  background: url("../assets/closeIcon.svg") center;
}

.close-button:hover {
  opacity: 1;
  cursor: pointer;
}

/* CHECKBOX AND LABEL */
.checkbox-label-wrapper {
  position: relative;
  display: flex;
}

.test-checkbox-label-wrapper {
  position: relative;
  display: flex;
}

input[type="checkbox"] {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  opacity: 0;
}

.checkmark:hover {
  border: 2px solid #d51e1e;
  cursor: pointer;
}

input[type="checkbox"]:checked+.checkmark {
  background: var(--color-light-grey);
  background-image: url("../assets/checkIcon.svg");
  background-size: cover;
}

input[type="checkbox"]:checked~.task-message {
  text-decoration: line-through;
  opacity: 0.4;
}

input[type="checkbox"]:checked:hover~.task-message {
  cursor: pointer;
}

.checkmark {
  width: 20px;
  height: 20px;
  border-radius: 20%;
  border: 2px solid var(--color-light-grey);
  z-index: 1;
}

.grey-border {
  z-index: 1;
  cursor: pointer;}
  
.grey-border:hover {
  border: 2px solid #8f8d8d;
}

/* ------------------------- */
.edit-button {
  width: 18px;
  height: 18px;
  margin-left: auto;
  background-image: url("../assets/editIcon.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.4;
}

.edit-button:hover {
  opacity: 1;
  cursor: pointer;
}

.task-message:focus {
  background: var(--color-light-grey);
}

.task-message {
  animation: introLoad 0.8s forwards;
  padding: 0.5px 1px;
  margin-left: 10px;
}

.task-message:hover {
  cursor: text;
}
  
.to-do-element-checkbox:hover {
  cursor: pointer;
}
  
@keyframes introLoad {
  from {
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
  to {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
