.to-do-element-wrapper {
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
}

/*TODO: add custom styles of checkbox*/
.to-do-element-checkbox {
  margin-right: 10px;
}

.close-button {
  width: 10px;
  height: 10px;
  margin-left: 10px;
  opacity: 0.4;
  background: url("../assets/closeIcon.svg") center;
}

.close-button:hover {
  opacity: 1;
  cursor: pointer;
}

.edit-button {
  width: 18px;
  height: 18px;
  margin-left: auto;
  background-image: url("../assets/editIcon20.svg") ;
  background-size:100%;
  background-repeat: no-repeat;
  opacity: 0.4;
}


.edit-button:hover {
  opacity: 1;
  cursor: pointer;
}

.task-message {
  animation: introLoad 1s forwards ;
}

@keyframes introLoad {
  from {
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  to {
      clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }

}