@import url("./reset.css");
@import url("./variables.css");

/* font serif */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@500;600&display=swap");

/* font sans serif */
@import url("https://fonts.googleapis.com/css2?\=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background: var(--primary-color-4);
  font-family: Montserrat, sans-serif;
}

#theme-mode {
  position: sticky;
  top: 0;
  right: 0;
}

.app-container {
  position: relative;
  width: 600px;
  min-height: 50vh;
  background: var(--primary-color-1);
  margin: 10rem auto;
  box-shadow: var(--shadow-color-1);
  border-radius: 25px;
}

.app-container::before {
  position: absolute;
  top: 0;
  margin-left: 30px;
  margin-top: auto;
  width: 540px;
  content: "";
  background: var(--primary-color-3);
  height: 50px;
  clip-path: ellipse(42% 25% at 50% 1%);
}

#todo-section {
  width: 100%;
  min-height: 50px;
  padding: var(--spacing-xl) var(--spacing-l) var(--spacing-l);
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: var(--spacing-l);
}

.font-smaller {
  font-size: 10px;
  line-height: 12px;
}

.font-small {
  font-size: 12px;
  line-height: 14px;
}

.font-medium-small {
  font-size: 14px;
  line-height: 16px;
}

.font-medium {
  font-size: 16px;
  line-height: 18px;
}
