.accordion-wrapper {
  width: 100%;
  justify-content: center;
}

.accordion-item {
  border: 2px solid #333;
  border-radius: 4px;
  margin: 5px 0;
  padding: 2px 4px;
}

.accordion-title {
  display: flex;
  justify-content: space-between;
  background-size: 100%;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
  align-items: center;
}

.accordion-plus-sign{
  transition: 0.5s ;
  content: "";
  margin-right: 5px;
  background-color: black;
  width: 1.5px;
  height: 12px;
}

.accordion-plus-sign::after{
  position: absolute;
  transition: 0.5s ;
  transform: rotate(90deg);
  content: "";
  background-color: black;
  width: 1.5px;
  height: 12px;
}

.accordion-plus-sign.active{
  transform: rotate(270deg);
  transition: 1s ;
}

.accordion-plus-sign.active::after{
  transform: rotate(0deg);
  transition: 0.3s ;
}

.accordion-content{
  display: flex;
  font-size: 12px;
  max-height: 0;
  overflow: hidden;
  justify-content: center;
  transition: max-height 0.5s ease-out;
}

.accordion-title.active + .accordion-content{
  max-height: 30px;
}

.accordion-title:hover{
  cursor: pointer;
}


