
@import "./reset.css";
@import "./variables.css";

body {
  width: 100vw;
  height: 100vh;
  background: var(--todo-page-background);
}

.app-container {
  position: relative;
  width: 80vw;
  max-width: 600px;
  min-height: 50vh;
  background: var(--todo-app-background);
  margin: 20rem auto;
  box-shadow: var(--todo-app-shadow);
}

.app-container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: '';
  background: var(--todo-header-logo-color);
  height: var(--todo-header-logo-height);
}

.app-title {
  display: inline-block;
  font-size: 24px;
  text-align: center;
  width: 100%;
  margin-top: calc(var(--todo-header-logo-height) + 5px);
}