
@import "./reset.css";
@import "./variables.css";

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@300;400;500;600&display=swap');

body {
  width: 100vw;
  height: 100vh;
  background: var(--todo-page-background);
}

.app-container {
  position: relative;
  width: 600px;
  min-height: 50vh;
  background: var(--todo-app-background);
  margin: 20rem auto;
  box-shadow: var(--todo-app-shadow);
}

.app-container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: '';
  background: var(--todo-header-logo-color);
  height: var(--todo-header-logo-height);
}
