@import url("./reset.css");
@import url("./variables.css");

/* font serif */
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@500;600&display=swap");

/* font sans serif */
@import url("https://fonts.googleapis.com/css2?\=Montserrat:ital,wght@0,200;0,300;0,400;0,600;1,200;1,300;1,400;1,600");

body {
  width: 100vw;
  height: 100vh;
  background: var(--todo-page-background);
  font-family: Montserrat, sans-serif;
}

.app-container {
  position: relative;
  width: 600px;
  min-height: 50vh;
  background: var(--todo-app-background);
  margin: 20rem auto;
  box-shadow: var(--todo-app-shadow);
}

.app-container::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  content: "";
  background: var(--todo-header-logo-color);
  height: var(--todo-header-logo-height);
}

#todo-section {
  display: inline-block;
  width: 100%;
  margin-top: var(--todo-header-logo-height);
  min-height: 50px;
  padding: 0 30px;
  border: 1px solid black;
}
