.accordion-wrapper {
  justify-content: center;
  width: 100%;
}

.accordion-item {
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
}

.accordion-header-container {
  display: flex;
  align-items: center;
}

.accordion-navbar-container {
  display: flex;
  align-items: center;
  width: 100%;
}

.accordion-navbar-container:hover {
  cursor: pointer;
  opacity: 0.6;
}

.accordion-title {
  padding: 0 4px;
  font-size: 15px;
  color: var(--primary-color-3);
  font-family: "Roboto Slab", serif;
}

.accordion-folder-sign {
  -webkit-mask: url("/assets/documentIcon.svg");
  background-color: var(--primary-color-3);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  flex-shrink: 0;
  width: 24px;
  height: 18px;
  margin-right: 5px;
}

.accordion-line {
  margin: 0 10px;
  background-color: var(--secondary-color-3);
  height: 0.3px;
  width: 100%;
  opacity: 0.5;
}

.accordion-expand-sign {
  -webkit-mask: url("/assets/arrowIcon.svg");
  background-color: var(--primary-color-3);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  flex-shrink: 0;
  width: 9px;
  height: 5.6px;
  transition: 0.5s;
}

.accordion-expand-sign:hover {
  cursor: pointer;
}

.active .accordion-expand-sign {
  transform: rotate(180deg);
  transition: 1s;
}

.accordion-delete-sign {
  -webkit-mask: url("/assets/trashBinIcon.svg");
  background-color: var(--primary-color-3);
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: cover;
  margin-left: 3px;
  width: 18px;
  height: 18px;
  flex-shrink: 0;
  opacity: 0.8;
}

.accordion-delete-sign:hover {
  cursor: pointer;
  opacity: 1;
}

.accordion-task-counter {
  font-family: Inter, sans-serif;
  font-weight: 600;
  font-size: 11.2px;
  color: var(--primary-color-1);
  margin-left: 4px;
  display: flex;
  min-width: 20px;
  height: 20px;
  border-radius: 6px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  background-color: var(--primary-color-3);
}

.accordion-content {
  overflow: hidden;
  justify-content: center;
  max-height: 0;
  height: auto;
  font-size: 12px;
  flex-direction: column;
  transition: max-height 0.5s ease-out;
}

.accordion-content > * {
  margin: var(--spacing-m) 0;
}

.add-to-do-accordion-field {
  display: flex;
  align-items: center;
}

.add-to-do-accordion-field::before {
  content: "";
  width: 20px;
  height: 20px;
  border-radius: 6px;
  background-image: url("/assets/penIcon.svg");
  margin-left: var(--spacing-xl);
}

.add-to-do-accordion-input {
  width: 100%;
  border: none;
  background: transparent;
  outline: none;
  color: var(--primary-color-3);
}

.add-to-do-accordion-input::placeholder {
  color: var(--primary-color-3);
  opacity: 0.6;
}

.add-to-do-accordion-input:focus::placeholder {
  color: var(--primary-color-3);
  opacity: 1;
}

.add-to-do-accordion-input-wrapper {
  width: 300px;
  margin-left: var(--spacing-s);
}

.add-to-do-accordion-input-wrapper::after {
  content: "";
  height: 1px;
  background: var(--primary-color-3);
  width: 0;
  display: block;
  transition: all 0.3s ease-in-out;
}

.active.add-to-do-accordion-input-wrapper::after {
  width: 300px;
}

.add-to-do-accordion-button {
  background: var(--primary-color-4);
  width: 85px;
  color: var(--secondary-color-3);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  padding: 3px 10px;
  margin-left: auto;
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.add-to-do-accordion-input-wrapper.active + button {
  background: var(--primary-color-3);
  color: var(--primary-color-1);
}

.add-to-do-accordion-button:hover {
  opacity: 0.8;
}

.add-to-do-group-button:hover {
  cursor: pointer;
  opacity: 1;
}
