.accordion-wrapper {
  justify-content: center;
  width: 100%;
}

.accordion-item {
  align-items: center;
  justify-content: space-between;
  border-radius: 4px;
  margin: 5px 0;
  padding: 2px 4px;
}

.accordion-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.accordion-title {
  padding: 0 4px;
  font-size: 14px;
  font-family: "Roboto Slab", serif;
}

.accordion-folder-sign {
  background-image: url("/assets/folderIcon.svg");
  background-size: cover;
  opacity: 0.5;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.accordion-line {
  margin: 0 10px;
  background-color: #0e0808;
  height: 0.3px;
  width: 100%;
  opacity: 0.5;
}

.accordion-expand-sign {
  background-image: url("/assets/expandIcon.svg");
  background-size: cover;
  flex-basis: 25px;
  height: 25px;
  flex-shrink: 0;
  transition: 0.5s;
}

.accordion-expand-sign:hover {
  cursor: pointer;
}

.accordion-expand-sign.active {
  transform: rotate(180deg);
  transition: 1s;
}

.accordion-task-counter {
  display: flex;
  margin-left: 4px;
  min-width: 20px;
  height: 20px;
  border-radius: 20%;
  border: 2px solid var(--color-light-grey);
  align-items: center;
  justify-content: center;
  background-color: #696767;
}

.accordion-content {
  overflow: hidden;
  justify-content: center;
  max-height: 0;
  font-size: 12px;
  transition: max-height 0.5s ease-out;
}

.accordion-title.active + .accordion-content {
  max-height: 30px;
}

.add-to-do-group-button {
  background: var(--green-purple-linear-gradient);
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  margin-left: auto;
  border-radius: 12px;
  padding: 4px 10px;
  opacity: 0.8;
  margin-right: 20px;
  border: 1px solid grey;
}

.add-to-do-accordion-field {
  color: var(--color-white);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  margin-left: auto;
  border-radius: 6px;
  padding: 4px 10px;
  opacity: 0.8;
  margin-right: 20px;
}

.add-to-do-accordion-button {
  background: #6ba84f;
  color: #0e0808;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 16px;
  margin-left: 5px;
  border-radius: 12px;
  padding: 4px 10px;
  opacity: 0.8;
}

.add-to-do-accordion-button:hover {
  cursor: pointer;
  opacity: 1;
}

.add-to-do-group-button:hover {
  cursor: pointer;
  opacity: 1;
}
